.mat-card-simples{
  background-color: rgba(131, 131, 131, 0.788);
  width: 300px;
  margin-top: 10px;
  margin: 15px;
  padding: 15px;
}

.card-insercao-usuario{
  background-color: rgb(131, 178, 214);
  max-width: 300px;
  margin: 15px;
}

.mat-form-simples {
  margin-left:5px;
}
